<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  
</head>
<body>
    {% load static %}

    <div class="container">
        <h1>Pagina de ejemplo</h1>
        <h2>Bienvenida {{nombre}}</h2>
        <h3>La primera comida que le gusta es {{comidas.1}}</h3>
        <h3>Listado de comidas</h3>
        <ol>
            {% for comida in comidas %}
                <li>{{comida}}</li>
            {% endfor %}
        </ol>
        <h3>{{nombre}} tiene un hijo llamado {{hijo.nombre}} que tiene {{hijo.edad}} años</h3>
        <img src="{% static 'core/img/gatito.jfif' %}" alt="">
        <div class="row">
            <form action="" method="post">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
            </form>

        </div>
        <div class="container">
            <div class="row">
                <h1>LISTADO DE VEHICULOS</h1>
            </div>
            <table border=1>
                <tr><td>Patente</td><td>Marca</td><td>Modelo</td><td>Categoria</td></tr>
                {% for ve in vehiculos %}
                    <tr><td>{{ve.patente}}</td><td>{{ve.marca}}</td><td>{{ve.modelo}}</td><td>{{ve.categoria}}</td></tr>
                {% endfor%}
            </table>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

</body>
</html>